@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-family: "Noto Sans SC", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--theme);
  }

  :root {
    --theme: #0bc5ea;

    --border-primary: #2d3748;
    --border-secondary: #4a5568;

    --background-primary: #171923;
    --background-secondary: #2d3748;
    --background-comment: #282c34;

    --font-primary: #ffffff;
    --font-secondary: #cbd5e0;
  }

  .markdown h2 {
    @apply text-xl font-bold underline decoration-theme decoration-4 underline-offset-8	sm:text-2xl;
  }

  .markdown h3 {
    @apply text-lg font-bold sm:text-xl;
  }

  .markdown h4 {
    @apply text-sm font-bold sm:text-base;
  }

  .markdown p {
    @apply break-all text-justify text-sm/8 md:text-base/8;
  }

  .markdown img {
    @apply rounded-lg;
  }

  .markdown pre {
    @apply w-full overflow-x-scroll rounded-lg bg-secondary p-4;
  }

  .markdown ul {
    @apply list-inside list-disc text-xs/6 md:text-sm/8;
  }

  .markdown a {
    @apply text-theme underline-offset-2 hover:underline;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
    background: transparent !important;
  }
}
